@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* body {
  background: var(--background);
  color: var(--foreground);
} */

body {
  background-color: #0d0d0d;
  color: #ffffff;
}